﻿@{
    Layout = null;
    Response.Headers["X-UA-Compatible"] = "IE=10";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>The control panel</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div id="login">
        <table id="loginTable">
            <tr>
                <td>Username:</td>
                <td><input type="text" id="username" onchange="showInput()"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" id="loginPassword"></td>
            </tr>
        </table>
          <br>
    </div>


    <div id="feedback"><br></div>
    <br>


    <div id="sidebar">
        <div id="drag">
            <button id="zbutton" ondragover="chooseZipFile()">Drag zip file here</button>
        </div>
        or choose the file via file explorer
        <input type="file" id="zipinput" onclick="chooseZipFile()">
        <div id="output"></div>
    </div>



</body>
@Scripts.Render("~/Scripts/app/uploadZip.js")
@Scripts.Render("~/Scripts/app/main.js")
@Scripts.Render("~/Scripts/app/zip.js")
@Scripts.Render("~/Scripts/app/inflate.js")
@Scripts.Render("~/Scripts/app/jsaes.js")
</html>
